/*-- Form --*/

.forms {
	width:650px;
	margin:20px auto 10px auto;
	border-collapse:collapse;
	table-layout:fixed;
}

.formsSM {
	width:300px;
	margin:20px 60px 10px 50px;
}

.forms td {
	padding:10px;
	vertical-align:top;
}

.twoCol {
	text-align: center;
}

.col1 {
	text-align:right;
}

.col2 {
	text-align:center;
}

textarea:focus, input:focus {
	border:1px solid #86C543;
}

#split {
	color:#86C543;
	font-weight:bold;
}


/*-- Written Content --*/

p {
	font-size:medium;
}


/*-- Reports --*/
.leftalign {
	text-align:left;
}

.one, .six {
	width:200px;
}

.two, .three, .four {
	width:110px;
}

.five {
	width:75px;
}


/*-- Login Page --*/

#login {
	height:250px;
	width:500px;
	position:relative;
	top:100px;
	margin:auto;
	background-color:#FCFCFC;
	border:10px solid #E6E6E6;
	border-radius:25px;
}

#miniBanner {
	height:55px;
	width:100%;
	background:url('./../images/skewed_print.png');
	color:#EDEAE3;
	border:1px solid #000;
	border-radius:7px;
}

#miniBanner img {
	height:45px;
	width:45px;
	margin:2px 20px 2px 2px;
}

#miniBanner h1 {
	color:#FCFCFC;
	margin:7px;
}