.menu
{ 
	margin: 20px 25px;
}
.menu2
{ 
	margin: 10px 10px 20px 200px;
}
ul.man
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li.man
{
float:left;
border-left-style:solid;
border-left-color:#FFFFFF;
}
div.man
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#86C543;
text-align:center;
padding:4px 5px;
text-decoration:none;
text-transform:uppercase;
cursor:pointer;
}
div.man:hover, div.man:active
{
background-color:#78af11;
}
#content2 {
	width:750px;
	margin:10px 20px 20px 20px;
}

#Message{
	text-align:center;
	color: red;
}